.container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;
}

@media screen {
  .what-you-get {
    background-color: #f4f4f4;
    min-width: 320px;

    .container {

      .sectionLogo {
        margin: 0 auto;
        padding-top: 34px;
        width: 70vw;
        text-align: center;
        color: $mainColor;
        font-family: $Lato;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
      }

      .mainMenu {

        .block {
          text-align: center;

          .blockImg {
            width: 111px;
            margin: 34px auto 0 auto;
          }

          .blockText {
            margin: 0 auto;
            padding: 0 5px;

            &__topic {
              color: #323232;
              font-family: $Montserrat;
              font-size: 16px;
              font-weight: 400;
              line-height: 21px;
              margin: 29px auto 21px auto;
            }
            &__info {
              color: #848e97;
              font-family: $Lato;
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
              margin: 0 auto;
            }
          }
        }
      }
      .editor {
        height: 381px;
        margin-top: 57px;
        background: url("../img/editor(320).png");

      }
    }
  }
}