$mainColor: #8d81ac;
$grey: #737b84;

$Lato: 'Lato', sans-serif;
$Montserrat: 'Montserrat', sans-serif;

@mixin main_button {
  .button {
    height: 36px;
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background: $mainColor;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid $mainColor;
  }
}
