$mainColor: #8d81ac;
$grey: #737b84;

$Lato: 'Lato', sans-serif;
$Montserrat: 'Montserrat', sans-serif;

@mixin main_button {
  .button {
    height: 36px;
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background: $mainColor;
    border-radius: 50px;
    cursor: pointer;
    border: 0px;
  }
}

@mixin footerText {
  color: #848e97;
  font-family: $Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}

@mixin footerMain {
  color: #323232;
  font-family: $Montserrat;
  font-size: 16px;
  font-weight: 400;
}
