@media screen and (min-width: 320px){
  .review {

    .container {
      position: relative;

      .slick-slider {
        width: 80%;
        max-width: 1200px;
        margin: 70px auto 35px auto;
        text-align: center;


        .slider {
          outline: none;

          &__img {
              margin-bottom: 20px;
            img {
              margin: 0 auto;
            }
          }

          &__name {

            &--fullName{
              color: #474747;
              font-family: $Montserrat;
              font-size: 24px;
              font-weight: 700;
              line-height: 32px;
            }
            &--nick {
              color: #8d81ac;
              font-family: $Montserrat;
              font-size: 16px;
              font-weight: 400;
              line-height: 32px;
            }
          }

          &__comment {
            color: #333333;
            font-family: $Lato;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
          }

          &__time {
            color: #848e97;
            font-family: $Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            padding-top: 8px;
          }
        }
      }

      .fa-chevron-left {
        color: #848e97;
        position: absolute;
        top: 175px;
        left: 5%;

        &:hover {
          cursor: pointer;
        }
      }

      .fa-chevron-right {
        color: #848e97;
        position: absolute;
        top: 175px;
        right: 5%;

        &:hover {
          cursor: pointer;
        }
      }

      .socialMedia {
        text-align: center;

        .github {
          margin-bottom: 30px;

          &__button {
            width: 278px;
            height: 48px;
            background-color: #f3f3f3;
            border: 1px solid #f3f3f3;
            border-radius: 7px;
            text-decoration: none;
            text-align: left;

            &--icon {
              color: #000000;
              font-size: 21px;
              padding: 0 59px 0 17px;

            }

            &--text {
              color: #000000;
              font-family: $Montserrat;
              font-size: 21px;
              font-weight: 400;
            }
          }

          &__button:hover {
            .github__button--icon {
              color: #f3f3f3;
            }

            .github__button--text {
              color: #f3f3f3;
            }

            & {
              background-color: #2b414d;
              cursor: pointer;
            }
          }

          &__follow {
            color: #848e97;
            font-family: $Montserrat;
            font-size: 14px;
            font-weight: 400;
            margin-top: 18px;
          }
        }

        .twitter {
          margin-bottom: 30px;

          &__button {
            width: 278px;
            height: 48px;
            background-color: #26a6d1;
            border: 1px solid #26a6d1;
            border-radius: 7px;
            text-decoration: none;
            text-align: left;

            &--icon {
              color: #ffffff;
              font-size: 21px;
              padding: 0 60px 0 17px;
            }

            &--text {
              color: #ffffff;
              font-family: $Montserrat;
              font-size: 21px;
              font-weight: 400;
            }
          }

          &__button:hover {
            .twitter__button--icon {
              color: #26a6d1;
            }

            .twitter__button--text {
              color: #26a6d1;
            }

            & {
              background-color: #ffffff;
              cursor: pointer;
            }
          }

          &__follow {
            color: #848e97;
            font-family: $Montserrat;
            font-size: 14px;
            font-weight: 400;
            margin-top: 18px;
          }
        }

        .facebook {
          margin-bottom: 70px;

          &__button {
            width: 278px;
            height: 48px;
            background-color: #3b5998;
            border: 1px solid #3b5998;
            border-radius: 7px;
            text-decoration: none;
            text-align: left;

            &--icon {
              color: #ffffff;
              font-size: 21px;
              padding: 0 55px 0 17px;
            }

            &--text {
              color: #ffffff;
              font-family: $Montserrat;
              font-size: 21px;
              font-weight: 400;
            }
          }

          &__button:hover {
            .facebook__button--icon {
              color: #3b5998;
            }

            .facebook__button--text {
              color: #3b5998;
            }

            & {
              background-color: #ffffff;
              cursor: pointer;
            }
          }

          &__follow {
            color: #848e97;
            font-family: $Montserrat;
            font-size: 14px;
            font-weight: 400;
            margin-top: 18px;
          }
        }
      }
    }
  }
}